@model IEnumerable<BirdSpecies>

@{
    ViewData["Title"] = "Bird Species Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/cjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Bird App</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/BirdSighting">Bird Sighting</a>
                <a class="nav-item nav-link active" href="/BirdSpecies">Bird Species</a>
                <a class="nav-item nav-link" href="/Admin">Administration</a>
                @using Microsoft.AspNetCore.Identity
                @using BirdApp.Models
                @inject SignInManager<BirdWatcher> signInManager
                @if (signInManager.IsSignedIn(User))
                {
                    // signed-in user sees Log Out button and username
                    <li class="nav-item">
                        <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                            <input type="submit" value="Log Out"
                                   class="btn btn-outline-light" />
                            <span class="text-light">@User.Identity.Name</span>
                        </form>
                    </li>
                }
                else
                {
                    // anonymous user sees Register and Log In links
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Register"
                           asp-controller="Account" asp-area="">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Login"
                           asp-controller="Account" asp-area="">Log In</a>
                    </li>
                }
            </div>
        </nav>
    </nav>
    <h4 class="text-center text-uppercase">List of bird species</h4>

    <p>
        <a asp-controller="BirdSpecies" asp-action="AddBird" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New Bird</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bird Name</th>
                <th>Scientific Name</th>
                <th>Family</th>
                <th>Typical Size</th>
                <th>Primary Color</th>
                <th>Description</th>
                <th>Habitat</th>
                <th>Sightings?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bird in Model)
            {
            <tr>
                <td>
                    <img src="~/images/@bird.BirdPicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @bird.Name
                </td>
                <td>@bird.ScientificName</td>
                <td>@bird.Family</td>
                <td>@bird.TypicalSize</td>
                <td>@bird.PrimaryColor</td>
                <td>@bird.Description</td>
                <td>@bird.Habitat</td>
                <td>
                    @if (bird.Sightings.Count != 0)
                    {
                        @bird.Sightings.Count
                    }
                    <a asp-controller="BirdSighting" asp-action="AddSighting" asp-route-birdId="@bird.BirdID" class="btn btn-secondary">Add Sighting</a>
                </td>
                <td>
                    <a asp-controller="BirdSpecies" asp-action="EditBird"
                       asp-route-id="@bird.BirdID">Edit</a>
                    <a asp-controller="BirdSpecies" asp-action="DeleteBird"
                       asp-route-id="@bird.BirdID">Delete</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
    <a asp-controller="BirdSpecies" asp-action="BirdsByName"
       class="btn btn-dark">Order Birds by Name</a>
    <a asp-controller="BirdSpecies" asp-action="BirdsBySize"
       class="btn btn-dark">Order Birds by Size</a>
    <a asp-controller="BirdSpecies" asp-action="BirdsByHabitat"
       class="btn btn-dark">Order Birds by Habitat</a>
</body>
</html>