@model IEnumerable<BirdApp.Models.BirdSpecies>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/cjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Bird App</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/BirdSighting">Bird Sighting</a>
                <a class="nav-item nav-link active" href="/BirdSpecies">Bird Species</a>
                <a class="nav-item nav-link" href="/BirdSpecies">Bird Watcher</a>
            </div>
        </nav>
    </nav>
    <h4 class="text-center text-uppercase">List of bird species</h4>

    <p>
        <a asp-action="AddBird" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New Bird</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.ScientificName)</th>
                <th>@Html.DisplayNameFor(model => model.Family)</th>
                <th>@Html.DisplayNameFor(model => model.TypicalSize)</th>
                <th>@Html.DisplayNameFor(model => model.PrimaryColor)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Habitat)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bird in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@bird.BirdPicture"
                             class="rounded-circle"
                             height="40" width="40"
                             asp-append-version="true" />
                        @bird.Name
                    </td>
                    <td>@bird.ScientificName</td>
                    <td>@bird.Family</td>
                    <td>@bird.TypicalSize</td>
                    <td>@bird.PrimaryColor</td>
                    <td>@bird.Description</td>
                    <td>@bird.Habitat</td>
                </tr>

            }
        </tbody>
    </table>
    </body>
</html>